<!DOCTYPE html> html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book Page</title>
</head>
<body>
    <h1> Hello, add a book using the form below: </h1>

    <form action = "#" method = "POST">
        <label for="firstname">Title:</label><br>
        <input type="text" id="firstname" name="firstname"><br><br>

        <label for="lastname">Author:</label><br>
        <input type="text" id="lastname" name="lastname"><br><br>

        <label for="email">Publication Year:</label><br>
        <input type="text" id="email" name="email"><br><br>

        <input type="submit" value="Submit">
    </form>

    <br><br>